# Auto detect text files and perform LF normalization
* text=auto
*.cs linguist-language=csharp
*.cpp linguist-language=C++
*.js linguist-language=JavaScript
*.h linguist-language=C
*.c linguist-language=C
*.rc linguist-language=Assembly

The-Blow-Eagle-stealer/dependencies/curl/include/curl/*		linguist-vendored
